.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.content {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--neon-blue);
}

.indent {
  padding-left: 1rem;
}
