.link {
  display: inline-block;
  text-align: center;
  width: 160px;
  padding: 10px 0;
  border: 2px solid;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  box-shadow: 0 0 50px 15px;
}

.garage {
  color: var(--neon-blue);
}

.winners {
  color: var(--neon-purple);
}
