.carBox {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carMenu {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding-top: 0.5rem;
  border-top: 1px solid var(--neon-purple);
}

.carConfig {
  padding: 0;
  border: none;
}

.carName {
  width: 100%;
  text-align: center;
  color: var(--neon-blue);
}
